services:
  postgres:
    image: postgres:16-alpine
    container_name: home-management-system-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: home_management_system
    ports:
      - "5432:5432"
    volumes:
      - home_management_system_postgres_data:/var/lib/postgresql/data

volumes:
  home_management_system_postgres_data:
